@model IEnumerable<EbookRentalShop.Models.Categories>

@{
    ViewBag.Title = "Kategorie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategorie</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
